extends layout

block content
    .container-fluid
        .row
            .col-lg-4
            .col-lg-4
                div(style='color:red;')
                    h1=message
            .col-lg-4
