extends layout

block content
    .container-fluid
        .row
            .col-lg-4
            .col-lg-4
                form(action="/stocks" method="POST")
                    table(class="table")
                        tr
                            td Item Name
                            td
                                input(name="name" required="true" value="" placeholder="Twinkel baby diaper [s5]")
                        tr
                            td Unit price
                            td
                                input(name="unitPrice" required="true" placeholder="90.00" type="decimal")
                        tr
                            td Quantity
                            td
                                input(name="quantity" required="true" placeholder="10" type="number")
                        tr
                            td
                            td
                                input(value="Add to stock" type="submit")
            .col-lg-4
        .row
            .col-lg-3
            .col-lg-6
                table(class="table")
                    tr
                        th Item Name
                        th Unit Price
                        th Quantity
                        th Option
                    each val in productList
                        tr
                            td=val.name
                            td=val.unitPrice
                            td=val.quantity
                            td
                                a(href='/stocks/'+val.id) Update
            .col-lg-3