extends layout

block content
    .container-fluid
        .row
            .col-lg-4

            .col-lg-4
                table(class="table")
                    tr
                        td Date
                        td
                            input(class="date" required="true" value='' + today placeholder="Twinkel baby diaper [s5]")
                    tr
                        td Customer Name
                        td
                            input(class="customerName" required='true')
                    tr
                        td Voucher Number
                        td
                            input(class="voucherNumber")
            .col-lg-4
        .row
            .col-lg-2
            .col-lg-8
                form(class='sales-order-form')
                    table(class="table sales-order-table" id="sales-order-table")
                        thead
                            tr
                                th Item Name
                                th Unit Price
                                th Quantity
                                th Free Quantity
                                th Sub Total
                        tbody
                            each product in productList
                                tr
                                    td
                                        input(name='id' type='hidden' readonly='readonly' value=product.id class='form-control')
                                        input(name='name' type='text' readonly='readonly' value=product.name class='form-control')
                                    td
                                        input(name='unitPrice' type='text' readonly='readonly' value=product.unitPrice class='form-control')
                                    td
                                        input(name='sellQuantity' type='number' required="true" value="0" class='form-control')
                                    td
                                        input(name='freeQuantity' type='number' required="true" value="0" class='form-control')
                                    td
                                        input(name='subTotal' type='text' readonly='readonly' value='0' class='form-control')
                    input(type='submit' value='Submit' class='form-control')
            .col-lg-2
        .row
            .col-lg-2
            .col-lg-8
                .result ()
            .col-lg-2
