extends layout

block content
    .container-fluid
        .row
            .col-lg-4
            .col-lg-4
                form(action="/stocks-update/"+productId method="POST")
                    table(class="table")
                        tr
                            td Item Name
                            td=product.name
                        tr
                            td Unit price
                            td
                                input(name="unitPrice" required="true" placeholder="90.00" type="decimal")
                        tr
                            td Quantity
                            td
                                input(name="quantity" required="true" placeholder="10" type="number")
                        tr
                            td
                            td
                                input(value="Update stock" type="submit")
            .col-lg-4
        .row
            .col-lg-3
            .col-lg-6
            .col-lg-3